<ion-header>
  <toolbar name="Pagamento"></toolbar>
</ion-header>

<ion-content>
  <ion-radio-group [(ngModel)]="formaPagamento">
    <ion-list-header>
      <ion-label>Escolha a forma de pagamento</ion-label>
    </ion-list-header>

    <ion-item *ngFor="let formaPagamento of formasPagamento">
      <ion-thumbnail slot="end">
        <ion-img [src]="formaPagamento.imagem"></ion-img>
      </ion-thumbnail>
      <ion-radio slot="start" [value]="formaPagamento.id" checked></ion-radio>
    </ion-item>
  </ion-radio-group>
</ion-content>

<ion-footer>
  <ion-button expand="full" (click)="agendar()">
    <ion-label>Agendar</ion-label>
  </ion-button>
</ion-footer>