<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Meu Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content ion-padding>
  <div class="image">
    <ion-thumbnail>
      <ion-img [src]="getUser().image"></ion-img>
    </ion-thumbnail>
  </div>
  <div class="infoUser">
    <form [formGroup]="formGroup">
      <ion-item>
        <ion-input type="text" placeholder="Nome" formControlName="nome"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" placeholder="Email" formControlName="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" placeholder="Endereco" formControlName="endereco"></ion-input>
      </ion-item>
    </form>
    
  </div>
</ion-content>

<ion-footer>
  <ion-button expand="full" (click)="save()">
    <ion-label>Salvar Perfil</ion-label>
  </ion-button>
</ion-footer>