<ion-header>
  <toolbar name="Meus Agendamentos"></toolbar>
</ion-header>

<ion-content>
    <ion-list>	
      <agendamento-item *ngFor="let agendamento of agendamentos;" [agendamento]="agendamento"></agendamento-item>
    </ion-list>


    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="go('agendamento')"><ion-icon name="add"></ion-icon></ion-fab-button>
    </ion-fab>
</ion-content>
