<ion-header>
  <ion-toolbar>
    <ion-title>Autenticação</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="logo">
    <ion-img src="https://i.pinimg.com/originals/46/9d/b6/469db680005ea2a6fb216fc4254b9009.png"></ion-img>
  </div>
  
</ion-content>

<ion-footer>
  <ion-button expand="full" (click)="facebookAuthentication()">
    <ion-icon name="logo-facebook"></ion-icon>
    <ion-label>Entrar com o facebook</ion-label>
  </ion-button>
</ion-footer>
