<ion-header>
  <toolbar name="Agendamento"></toolbar>
</ion-header>

<ion-content ion-padding>
  <form [formGroup]="formGroup">
    <ion-item>
      <ion-input type="text" placeholder="Tipo do serviço" [value]="getUser().nome"></ion-input>
    </ion-item>
    <ion-item class="item-select">
      <ion-select placeholder="Selecione um serviço" formControlName="servico">
        <ion-select-option *ngFor="let servico of servicos" value="{{servico.nome}}">{{servico.nome}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-select placeholder="Selecione um profissional" formControlName="profissional">
        <ion-select-option *ngFor="let profissional of profissionais" value="{{profissional.nome}}">{{profissional.nome}}</ion-select-option>
      </ion-select>
    </ion-item>
    <!-- <ion-item>
      <ion-input type="text" formControlName="profissional" placeholder="Profissional" ></ion-input>
    </ion-item> -->
    <ion-item>
      <ion-datetime formControlName="dataAgendamento"  placeholder="Ano de Agendamento" displayFormat="DD/MM/YYYY" pickerFormat="DD MMMM YYYY" min="2019" max="2099"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-datetime  formControlName="horaAgendamento" placeholder="Hora do Agendamento" displayFormat="h:mm A"  ></ion-datetime>
    </ion-item>
  </form>
</ion-content>

<ion-footer>
  <ion-button expand="full" (click)="save()">
    <ion-label>Escolher forma de pagamento</ion-label>
  </ion-button>
</ion-footer>
