<ion-item lines="none">
  <ion-card class="flex-center">
    <div class="container">
      <div class="sub-content">
        <div>
          <ion-label class="description">Nome do Cliente</ion-label>
          <ion-label>{{ agendamento.usuario.nome }}</ion-label>
        </div>
      </div>
      <div class="sub-content">
        <div>
          <ion-label class="description">Tipo do Serviço</ion-label>
          <ion-label>{{ agendamento.servico }}</ion-label>
        </div>
      </div>
      
      <div class="sub-content">
        <div>
          <ion-label class="description">Nome do Profissional</ion-label>
          <ion-label>{{ agendamento.profissional }}</ion-label>
        </div>
      </div>
      <div class="sub-content">
        <div>
          <ion-label class="description">Data e hora do agendamento</ion-label>
          <ion-label>{{ dataAgendamento() }} {{ horaAgendamento() }}</ion-label>
        </div>
      </div>
      <div class="sub-content">
        <div>
          <ion-label class="description">Forma Pagamento</ion-label>
          <ion-label>
            <ion-img [src]="agendamento.formaPagamento.imagem"></ion-img>
          </ion-label>
        </div>
      </div>
    </div>
  </ion-card>
</ion-item>