<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{name}}</ion-title>
      <ion-thumbnail slot="end" (click)="presentPrompt()">
        <ion-img [src]="imageUser"></ion-img>
      </ion-thumbnail>
  </ion-toolbar>
</ion-header>